*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #000;
    width: 100%;
    height: auto;
}

header{
    width: auto;
    height: 30px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 
}

header>h2{
    text-align: center;
    width:280px;
    height: 40px;
 background-color: blueviolet;
}

.task-container{
    width: auto;
    height: 400px;
    background-color: aqua;
}