*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #ebe6e6;
    width: 100%;
    height: 100%;
}

header{
    width: auto;
    height: 30px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 
}

header>h2{
    text-align: center;
    width:280px;
    height: 40px;
 background-color: blueviolet;
}



.task-container{
   width: 100%;
  margin-bottom: 40px;
  padding: 20px 10px;
  background:white;
  border: solid #b7b5b5;
}

.sub-header{
width: 100%;
height: 10px;
display: flex;
justify-content: space-between;
}

#input-task-box{
    max-width: 100%;
    height:100px;
    column-count: 3;
   
    border: solid;
    
    
}

