*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #ebe6e6;
    width: 100%;
    height: 120vh;
    display: flex;
   flex-direction: column;
   gap: 20px;
}

header{
    width: auto;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 
}

header>h2{
    text-align: center;
    width:280px;
    height: 40px;
    inline-size: 160px;
    border-inline: initial;
    border-inline-width: 5px;
    border-inline-color:blue;  
}

.task-container{
   width: auto;
   height: 145px;
   margin:0px 8px;
   background:white;  
}

.header-flex{
padding: 5px 10px;
overflow: hidden;
width: auto;
display: flex;
text-align: center;
justify-content:space-between;

}.critical-head{background-color: rgb(228, 11, 11);}
.Issuse-Tickets-head{background-color: rgb(250, 133, 43);}
.maintenance-head{background-color:rgb(246, 171, 31);}
.unplaned-head{background-color: rgb(106, 106, 105);}

.add-task{
    padding:5px;
    opacity: .5;
    background-color:rgb(224, 221, 221);
    border: none;
}

#swimlane-task {
    max-width: 100%;
    height:110px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);    
   border:solid 1px rgba(11, 11, 11, 0.5); 
}

.task-cloum{
    min-width: 50px;
    height: 110px;
    border:dashed 1px rgba(148, 147, 147, 0.5); 
   
}

.modal{
 display:none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    background-color: blueviolet;
}
.modal-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 15px;
}

.task-cards{
    margin: 5px;
    width: auto;
    height: 80px;
    background-color: rgb(29, 29, 177);
    border-radius: 15px;
   padding-left: 25px;
   text-align: justify;
   padding-top: 10px;
}

.pannel{
    align-self:self-start;
   float: right;
   gap: 8px;
   padding-right: 5px;
  background-color: aqua;
}

#color-wheel{
    border-radius: 50%;
    cursor: pointer;
}

#color-result{
    float: right;
   height: 80px;
   width: 120px; 
  
}