*{
    margin: 0;
    padding: 0;
   
}

main{ 
    width: 100%;
    height: auto;
    display: flex;
   flex-direction: column;
   gap: 10px;
  
}

header{
    width: auto;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    padding-bottom: 0px; 
}

header>h2{
    text-align: center;
    width:280px;
    height: 20px;
    margin: 0 30px;
    border-width:auto;
    border-bottom:solid;
}.to-do{border-bottom-color: rgb(58, 163, 255);}
.in-progress{border-bottom-color: rgb(241, 179, 54);}
.done{border-bottom-color: rgb(54, 238, 76);}

.task-container{
   width: auto;
   height: 130px;
   margin:0px 10px 20px;
}

.header-flex{
padding: 5px 10px;
overflow: hidden;
width: auto;
height: 20PX;
display: flex;
text-align: center;
font-size: small;
justify-content:space-between;

}.critical-head{background-color: rgb(228, 11, 11);}
.Issuse-Tickets-head{background-color: rgb(250, 133, 43);}
.maintenance-head{background-color:rgb(246, 171, 31);}
.unplaned-head{background-color: rgb(106, 106, 105);}

.add-task{
    padding: 2px 5px;
    opacity: .5;
    border: none;
    font-weight: 500;
    font-size:medium;
}

#swimlane-task {
    max-width: 100%;
    height:110px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);    
   border:solid 1px rgba(11, 11, 11, 0.5); 
}

.task-cloum{
    min-width: 50px;
    height: 110px;
    border:dashed 1px rgba(148, 147, 147, 0.5);   
}

.modal{
 display:none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    background-color: white
}
.modal-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 15px;
}

#color-box{
   cursor: pointer;
   background-color: #bde0f3;
   width: 60px;
   height: 40px;
}

.color-picker{
    display: none;
    width:150px;
    height: 220px;
    top: 30%;

    border-radius: 20px;
    background: #000;
    object-fit: contain;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#color-wheel{
    border-radius: 50%;
    cursor: pointer;
}

#color-result{
  
   height: 30px;
   width: 120px; 
 justify-self: right;
  
}

#task-description{
    max-height: 60px;
    max-width: 180px;
}
#task-sumit-modal{
    flex-direction: column;
}
.modal-buttons button{
  border-radius: 4px;
  border: none;
  padding: 8px;
  float: right;
  margin-right: 10px;
}

.task-cards{
    margin: 5px;
    width: 230px;
    height: 60px;
    background-color: rgb(92, 92, 209);
    border-radius: 15px;
    padding: 10px;
}

.pannel{
    display: none;
    position: relative;
    left: 60%;
   top:5%;
   gap: 5px;
   border-radius: 2px;
   padding-right: 5px;
 
}

