*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #ebe6e6;
    width: 100%;
    height: 100%;
}

header{
    width: auto;
    height: 30px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 
}

header>h2{
    text-align: center;
    width:280px;
    height: 40px;
 background-color: blueviolet;
}



.task-container{
   width: auto;
   height: 200px;
  margin:0px 10px;
  padding: 0px 10px;
  background:white;
   box-shadow: 1px 2px 1px rgba(224, 225, 225, 0.5);
}

.sub-header{
width: 100%;
margin-bottom: 5px;
display: flex;
text-align: center;
justify-content: space-between;
background-color: aqua;
}

#input-task-box{
    max-width: 100%;
    height:100px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
   
    
}

.task-cloum{
    min-width: 50px;
    height: 150px;
    border-style:dashed;
   border:solid 1px rgba(224, 225, 225, 0.5);;
}