*body{
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
   text-align: center;
    max-width: 1200px;
    margin: 0% auto;
}
header {
  
   margin: 40px;
}
header h1{
   color: rgb(223, 130, 64);
}
.searchContainer{
  gap: 10px;
}
#searchInput{
    width: 60%;
    max-width: 400px;
    padding: 12px;
    border: 2px solid cornsilk;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}#searchInput:focus{
    border-color: orange;
}

#serachBtn{
    padding: 12px 25px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}#serachBtn:hover{
    background-color: coral;
}

#recipe-result{
    max-width: 60%;
    max-height: 200px;
    background-color:rgb(239, 226, 226);
       margin: 0% auto;
       padding: 20px 0;
       border-radius:20px;
}
.recipe_result h3{
    font:bolder
}

.recipe-card{
  
}.recipe-card>img{
 width: 50%;
 height: 50%;
}
.view-recipe-btn{
    padding: 10px 80px;
   border: none;
   border-radius: 20px;
    background-color: #3b9cf7;
    cursor: pointer;
}.view-recipe-btn:hover{
    background: #7dbffc;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(51, 51, 51);
}
.recipe-content{
 padding: 30px;
 background-color: chocolate;
 margin: 5% auto;
 border: 1px solid rgb(194, 191, 191);
 width: 90%;
 max-width: 700px;
 border-radius: 10px;
 position: relative;
 
}
.close-btn{
    color: beige;
    position: absolute;
    top: 15px;
    right: 25;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

#modal-body h2 { color: #e67e22; }
#modal-body img { max-width: 100%; border-radius: 10px; }
#modal-body ul { list-style-type: disc; padding-left: 20px; }
